.postContainer {
    /* border: 1px solid red; */
    /* width: 80%; */
    /* max-width: 800px; */

    
    width:640px;
    display: flex;
    flex-flow: column nowrap;
    margin: 30px auto;
}

.postHeader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid blue; */
    height:50px;
}

.postHeader p {
    margin:auto 0;
}

.postHeader img {
    border-radius: 50%;
    width:30px;
    height: 30px;

}

.postComments {
    /* border: 1px solid green; */
}

.input {
    margin: 15px 0;
}

.postIcons img {
    margin-bottom: 10px;
    margin-right: 10px;
}

